* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.content {
    
}
.header {
    display: flex;
    flex-direction: column;
}
.header h1 {
    align-self: center;
}
.nav__list {
    display: flex;
    justify-content: space-between;

}
.header li, a {
    list-style-type: none;
    text-decoration: none;
}
.personal__area {
    display: flex;
    justify-content: space-betw;
}

.image__area {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    border: 2px solid blue;
    
}
.shield {
    max-width: 100px;
    max-height: 100px;
}
.contact__links {
    border: 2px solid red;
    /* width: 30%; */
}

.projects_list {
    display: flex;
    justify-content: space-around;
}
.about__me {
    border: 2px solid black;
    /* width: 40%; */
}